<p>products works!</p>
<div class="card-top container-fluid">

</div>

<div class="container">
    <div class="row">
        <div *ngFor="let product of products" class="card col-md-3">
            <img src="{{product.imageUrl}}" alt="Product image" width="50px">
            <h5 [title]="product.name +' details'">
                {{product.name}}
            </h5>
            <p>{{product.description}}</p>
            <p>{{product.price | currency}}</p>
            <button class="btn btn-primary" (click)=addToCart(product)>Add to cart</button>
            <!-- <button class="btn btn-primary">Add to cart</button>
        </div> -->
        </div>
    </div>