.product-card{
    width: 20%;
    margin: 1%;
    padding: 1%;
    position: relative;
    background: rgba(34, 44, 63, 0.4);
    border-radius: 4px;
    text-align: center;
 
    img{
     width: 70%;
    }
 
    p{
     text-align: left;
    }
    
    #product-price{
     text-align: center;
    }
 }


