<div class="container">
    <div *ngFor="let order of orders">
        <div class="table-container">
            <table>
                <tr>
                    <th>ID</th>
                    <th>Order Date</th>
                    <th>Customer</th>
                    <th>Payment Method</th>
                    <th>Price</th>
                    <th></th>
                </tr>
                <tr>
                    <td>{{order.id}}</td>
                    <td>{{order.created}}</td>
                    <td>{{order.createdBy}}</td>
                    <td>{{order.paymentMethod}}</td>
                    <td>{{order.totalPrice}}</td>
                    <td><button (click)="_deleteOrders(order.id)">Delete</button></td>
                </tr>
            </table>
        </div>
    </div>
</div>