<nav>
    <ul>
        <li><a routerLink="/" [routerLinkActive]="['active-tab']" [routerLinkActiveOptions]="{exact:true}">Home</a></li>
        <li><a routerLink="/products" [routerLinkActive]="['active-tab']">Products</a></li>
        <li><a routerLink="/cart" [routerLinkActive]="['active-tab']">Cart</a></li>
        <li><a routerLink="/admin" [routerLinkActive]="['active-tab']">Admin</a></li>
        <li>
            <input type="text" placeholder="Search Movie">
        </li>
    </ul>
</nav>
<router-outlet></router-outlet>