<div id="header">
    <nav>
        <ul>
            <li>
                <a routerLink="/" [routerLinkActive]="['active-tab']" [routerLinkActiveOptions]="{exact:true}">
                    <i class="fa fa-home" aria-hidden="true"></i>
                </a>
            </li>
            <li>
                <a routerLink="/products" [routerLinkActive]="['active-tab']">
                    <i class="fa fa-film" aria-hidden="true"></i>
                </a>
            </li>
            <li>
                <a routerLink="/cart" [routerLinkActive]="['active-tab']">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                </a>
            </li>
            <li>
                <a routerLink="/admin" [routerLinkActive]="['active-tab']">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
    </nav>
</div>
<router-outlet></router-outlet>